.app-header {
  align-items: flex-end;
}

.app-header h1 {
  flex-grow: 1;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

.btn-info {
  background-color: rgb(43, 128, 226);
}

.btn-info:hover {
  background-color: rgb(40, 116, 202);
}